.loader-div {
    min-width: 100px;
    min-height: 100px;
    text-align: center;
    position: relative;
}

.loader-div img {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 8px);
}

.loader-div span {
    position: absolute;
    top: calc(50% + 10px);
    left: calc(50% - 25px);
}

.main {
    background-color: #ccc;
}

.main-div {
    box-sizing: border-box;
    min-height: 100px;
    background: url('./assets/loader.gif') no-repeat center center;
}

.controls-div {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    min-height: 65px;
}

.controls-div .controls-div-inner {
    position: absolute;
    text-align: center;
    width: 100%;
}

.controls-div .controls-div-inner a {
    display: inline-block;
    padding: 2px;
}

.controls-div .controls-div-inner .controls-pagination .viewer-current {
    height: 41px;
    width: 41px;
    vertical-align: top;
    padding: 2px 0px;
    border: 4px solid #000;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.controls-div .controls-div-inner .controls-pagination .pagination-text {
    height: 41px;
    vertical-align: text-bottom;
    font-size: 16px;
    font-weight: bold;
    max-width: 50px;
    top: 5px;
    position: relative;
}

.error-div {
    color: #ff0000;
    font-size: 18px;
    font-weight: bold;
}

.error-div span {
    top: 50%;
    left: 45%;
}

.display-inline-block {
    display: inline-block;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.border-full {
    border: 1px solid black;
}

.height-100 {
    height: 100%;
}

.height-90 {
    height: 90%;
}

.height-10 {
    height: 10%;
}

.width-100 {
    width: 100%;
}

.padding-5 {
    padding: 5px;
}

.hide {
    display: none;
}
